@{
    ViewData["Title"] = "Regras de comparecimento";
}
<h1>@ViewData["Title"]</h1>

<p>1-Só será aceito na reunião quem se cadastrar antes.</p>
<p>2-Favor, fazer silêncio enquanto o outro fala.</p>
<p>3-Levante a mão para falar</p>
<p>4-Use máscara</p>
<p>5-Respeite o tempo de fala.</p>
