* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    background-color: rgb(80, 147, 206);
}

main {
    background-color: white;
    width: 555px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.473);
}

h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(35, 47, 214);
}

h2 {
    text-align: center;
    font-size: 20px;
    color: rgb(10, 243, 243);
}

p {
    text-align: center;
}

img {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.cat {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
th {
    background-color: aqua;
}

td {
    font-weight: bold;
    background-color: white;
}

td, th {
    padding: .7em;
    margin: 0;
    /*border: 1px solid #ccc;*/
    text-align: center;
}

dl, dd, td, th {
    padding: .7em;
    margin: 0;
    /*border: 1px solid #ccc;*/
    text-align: center;
}

.formulario {
    margin-left: 33%;
}
label {
    display: block;
    font-size: 20px;
    margin: 20px 0 10px;
    font-family: 'Gotu', sans-serif;
    font-weight: bold;
}

input{
    display: block;
    margin: 0 0 20px;
    width: 50%;
    padding: 10px;
}